

html , body {

    margin: 0;
    padding: 0;
    height:  100%;
    width: 100%;
    background-image: url("game_background.jpg ") ;
    background-repeat: no-repeat ;
    background-size: cover ;
    
    


}


@font-face{

    font-family: pdark;
    src:url(fonts/pdark.ttf);

}

@font-face{

    font-family: gamefont ;
    src:url(fonts/game_font_7.ttf)
    

}
    

.intro {

    
    height: 100%;
    width: 100%;
    margin: auto;   
    display: table ;
    top: 0;
   

}

.intro .inner {

    display:table-cell;
    vertical-align:  middle;
    width: 100%;
    max-width: none;

}

.content {

        max-width: 500px;
        margin: 0 auto;
        text-align: center ;
        max-inline-size: 200%;

}

.content h1 {

    font-family: 'pdark' , sans-serif ;
    color: #dcecee;
    text-shadow: 0px 0px 300px #000;
    font-size: 400%;
    -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate;

}

.content:hover{
    color: rgb(6, 13, 48);
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
}
@keyframes neon1 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
    }
  }

.btn {
    border-radius: 9px;
    font-family: 'gamefont' , sans-serif ;
    color: #e5f0f0;
    font-size: 300%;
    padding: 100px , 50px ;
    border: solid #24e2e2 2px;
    text-transform: uppercase ;
    text-decoration: none ;

}

.btn ::before {

    content: '+';
    position: absolute ;
    

}


.btn:hover {
    color:#01f0d0;
    border: solid #f38585 3px;



}
canvas  {

    position: absolute;
    margin : auto ;
    top: 0;
    bottom: 0 ;
    left: 0;
    right: 0 ;

}
canvas  {

    position: absolute;
    margin : auto ;
    top: 0;
    bottom: 0 ;
    left: 0;
    right: 0 ;

/* background-image: url("game_background.jpg ") ;
background-repeat: no-repeat;
background-position: absolute;
background-size: cover ;
background-blend-mode: luminosity;
height: 500px; */